<!DOCTYPE html>
<html>
    <head>
        <title>OLOgram</title>
        <!-- <link rel="stylesheet" href="/public/stylesheets/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
    </head>
    <body>  
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src=url("") width="30" height="30" alt="">CoolJamTank
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <% if (!user) { %>
                        <li class="nav-item active">
                            <a class="nav-link" href="/auth/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/register">Sign Up</a>
                        </li>
                        <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/"> <%= user.username %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">Logout</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>    
        </nav> -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/content.css">
        
    </head>
<body>
    <div id='main-nav'>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
                <img src=url("") width="30" height="30" alt="">OLOgram
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
                    <li class="nav-item dropdown d-lg-none">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><h5><strong>OLO</strong></h5></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/contents"><h6><img id="nav-icons" width="42" height="40" src="/icons/new-b.png"> New</h6></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/contents/popular"><h6><img id="nav-icons" width="42" height="40" src="/icons/rising-bar-graph-with-arrow-up.png"> Popular</h6>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/contents/new"><h6>Create Post <img id="nav-icons" width="35" height="33" src="/icons/youtube.png"><img id="nav-icons" width="35" height="33" src="/icons/icons8-twitch-48.png"></h6>
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown d-none d-lg-block">
                        <a class="nav-link dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" id="btn-default" role="button" aria-haspopup="true" aria-expanded="false"><h5 style="margin-bottom: 0px;">OLO</h5></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/contents"><h5><img id="nav-icons" width="42" height="40" src="/icons/new-b.png"> New</h5></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/contents/popular"><h5 style="margin-bottom: 0px;"><img id="nav-icons" width="42" height="40" src="/icons/rising-bar-graph-with-arrow-up.png"> Popular</h5>
                            </a>
                        </div>
                    </li>

                    <li class="nav-item" id="main-nav-item">
    <!-- Responsive Icons -->
    <!-- <div class="d-lg-none">hide on screens wider than lg</div>
    <div class="d-none d-lg-block">hide on screens smaller than lg</div> -->
                        <a class="btn btn-default btn-sm d-none d-lg-block" id="btn-default" href="/contents/new"><h5 style="margin-bottom: 0px;">Create Post <img id="nav-icons" width="35" height="33" src="/icons/youtube.png"><img id="nav-icons" width="35" height="33" src="/icons/icons8-twitch-48.png"></h5>
                        </a>
                    </li>
                    
                    <!-- ======== Search bar ======== -->

                </ul>
                <!-- <form style="padding-right: 30px; "action="/contents" method="GET" class="form-inline"> -->
                <form style="padding-right: 30px;" class="form-inline" >
                    
                    <!-- <input id="search-bar" type="text" name="search" value onkeypress="if (event.keyCode == 13) { try{window.location.href='/contents/search/'+looseURIEncode(document.getElementsByName('search')[0].value); document.getElementsByName('search')[0].value=''; return false;}catch(e){} }" placeholder="Search" class="form-control mr-sm-2"> -->

                    <input id="search-bar" type="text" name="search" onkeypress="if (event.keyCode == 13) { try{window.location.href='/contents/search/'+ document.getElementsByName('search')[0].value; document.getElementsByName('search')[0].value=''; return false;}catch(e){} }" placeholder="Search" class="form-control mr-sm-2">

                    <!-- <span class="input-group-btn" type="button" onclick="try{window.location.href='/contents/search/' + document.getElementsByName('search')[0].value; document.getElementsByName('search')[0].value=''; return false;}catch(e){}">
                        <button class="btn btn-default">search
                        </button>
                    </span> -->

<!--                     <script>
                        function looseURIEncode(uri){
                            var address = uri;
                            var enc = encodeURI(address);
                            var dec = decodeURI(enc);

                            return dec
                        }

                        if (event.keyCode == 13) { 
                            try{

                            window.location.href='/contents/search/'+looseURIEncode(document.getElementsByName('search')[0].value); 

                            document.getElementsByName('search')[0].value=''; 

                            return false;}

                            catch(e){} 
                        }

                    </script> -->

                    <!-- <input type="submit" value="Search" class="btn btn-secondary"> -->
                <!-- </form> -->
                </form>
                <% if (!user) { %>
                    <a href="/auth/google" class="btn btn-default btn-sm d-lg-none" id="btn-default"><img id="nav-icons" src="/icons/google_logo.png" width="40px" height="33px" />Login</a>
                    <a href="/auth/google" class="btn btn-default btn-sm d-none d-lg-block" id="btn-default"><img src="/icons/google_logo.png" width="33px" height="33px" /> Login in with Google </a>


                <!-- <li class="nav-item">
                    <a class="nav-link" href="/auth/register">Sign Up</a>
                </li> -->
                
                <% } else { %>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src= "<%= user.thumbnail %>" width= "45px" height= "45px" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="nav-link" href="/profile"> 
                                <h5><%= user.username %></h5>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" href="/auth/logout"><h6>Logout</h6></a>
                        </div>
                    </div>                 
                <% } %>
            </div>             
        </nav>
    </div>

    <div id="ctg-nav">
      <form action="/contents/category" method="GET" class="form-group">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/contents"><img id="cat-icons" src="/icons/checkAll.png"/> All</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link active" href="/contents/category/educational" name="category"><img id="cat-icons" src="/icons/education.png"> Educational</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link active" href="/contents/category/fitness" name="category"><img id="cat-icons" src="/icons/fitness.png"> Fitness</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link active" href="/contents/category/motivational" name="category"><img id="cat-icons" src="/icons/motivation.png"> Motivational</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contents/category/music" name="category"><img id="cat-icons" src="/icons/music.png"/> Music</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link active" href="/contents/category/beauty" name="category"><img id="cat-icons" src="/icons/beauty.png"> Beauty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contents/category/gaming" name="category"><img id="cat-icons" src="/icons/game_b.png"/> Gaming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contents/category/vlog" name="category"><img id="cat-icons" src="/icons/selfie.png"/> VLOG</a>
          </li>
        </ul>
      </form>
    </div>

    <!-- ========flash npm======== -->
    <div class="flash-box">
       <% if(error && error.length > 0) { %>
         <div class="alert alert-danger"><p><%=error %></p></div>
       <% } %>
       
       <% if(success && success.length > 0) { %>
         <div class="alert alert-success"><p><%= success %></p></div>
       <% } %>
    </div>
    <div>
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<!-- =====ckeditor====== -->
<script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>


        
    

    
