<% include partials/header %>

<header class="jumbotron">
	<div class="container">
		<h1>Your Profile Page<h1>
		<p><img src= "<%= user.thumbnail %>" /><%= user.username %></p>
		<p><%= user._id%></p>
		<div>Number of followers: <%= user.follower %>
		<p><%= user.email %></p>

		<form class="form-group">
	        <ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="/profile" style="font-size: 25px;">
						<img style="padding-right: 10px;" width="40" height="30" src="/icons/checkAll.png"/>Overview
					</a>
				</li>
				<li class="nav-item"> 
					<a class="nav-link active" href="/profile/likes" style="font-size: 25px;">
						<img style="padding-right: 10px;" width="40" height="30" src="/icons/education.png">Likes
					</a>
				</li>
				<li class="nav-item"> 
					<a class="nav-link active" href="/profile/contents" style="font-size: 25px;">
						<img style="padding-right: 10px;" width="40" height="30" src="/icons/fitness.png">Posts
					</a>
				</li>
	        </ul>
	  	</form>
  	</div>
</header>

<!-- ==== OVERVIEW ===== -->
<% if(request == "overview"){ %>

	<!-- ========Content Liked======== -->
	<div style="text-align: center; padding-bottom: 10px; font: 20px/25px monospace;">Contents you liked</div>
	<div id="profile"></div>
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
	    <% contents.forEach(function(content){ %>
	        <div class="col-md-3 col-sm-6" id="profile-content-thumbnail">
	            <div class="thumbnail">
               	<% if(content.video){ %>
		            <div>
	            	<% if(content.video.provider == 'youtube'){ %>
                      <div>
                        <iframe width="180" height="100" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <% } else if(content.video.provider == 'twitch'){ %>
                      <div>
                        <iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="180" height="100"></iframe>
                      </div>
                    <% } %>
		            </div>
          		<% } %>
	               	<div class="caption">
	               		<a style="font-size: 20px;" href="/contents/<%=content._id %>"><%=content.name %></a>
	               	</div>
	            </div>
	        </div>
	    <% }); %>
	</div>
	<div style="text-align: center; font: 15px monospace;">
		<a class="btn btn-default" id="btn-default" href="/profile/likes" role="button">More</a>
	</div>
	<hr>

	<!-- ========Contents Created======== -->
	<div style="text-align: center; padding-bottom: 15px; font: 20px/25px monospace;">Contents you shared</div>
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
	    <% myContents.forEach(function(content){ %>
	        <div class="col-md-3 col-sm-6">
	            <div class="thumbnail" id="profile-content-thumbnail">
	          	<% if(content.video){ %>
		            <div>
	            	<% if(content.video.provider == 'youtube'){ %>
	                  <div>
	                    <iframe width="180" height="100" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
	                  </div>
	                <% } else if(content.video.provider == 'twitch'){ %>
	                  <div>
	                    <iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="180" height="100"></iframe>
	                  </div>
	                <% } %>
		            </div>
	      		<% } %>
	               	<div class="caption">
	               		<a style="font-size: 20px;" href="/contents/<%=content._id %>"><%=content.name %></a>
	               	</div>
	            </div>
	        </div>
	    <% }); %>
	</div>
	<div style="text-align: center; font: 15px monospace;">
		<a class="btn btn-default" id="btn-default" href="/profile/contents" role="button">More</a>
	</div>
	<hr>
	<div><%= noContents %></div>
<% } %>

<!-- ==== LIKES ==== -->
<% if(request == "contentsLiked"){ %>
	<!-- ========Content Liked======== -->
	<div style="text-align: center; padding-bottom: 10px; font: 20px/25px monospace;">Contents you liked</div>
	<div id="profile"></div>
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
	    <% contents.forEach(function(content){ %>
	        <div class="col-md-4 col-sm-6" id="profile-content-thumbnail">
        	<!-- <div class="col-md-3 col-sm-6"> -->
	            <div class="thumbnail">
	          	<% if(content.video){ %>
		            <div>
	            	<% if(content.video.provider == 'youtube'){ %>
	                  <div>
	                    <iframe width="180" height="100" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
	                  </div>
	                <% } else if(content.video.provider == 'twitch'){ %>
						<div>
							<iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="180" height="100"></iframe>
						</div>
	                <% } %>
		            </div>
	      		<% } %>
	               	<div class="caption">
	               		<a style="font-size: 20px;" href="/contents/<%=content._id %>">
	               			<div>
	               				<%=content.name%>
	               			</div>
	               		</a>
	               		<!-- <a href="/contents/<%=content._id %>" class="btn btn-outline-secondary"><%=content.name %></a>
 -->	            </div>
	            </div>
	        </div>
	    <% }); %>
	</div>
 	<div><%= noContents %></div>

  	<!-- ========Pagination======== -->

	<% if (pages > 0) { %>
	<form action="/contents<%=url%>" method="GET" class="form-group">
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
			<% if (current == 1) { %>
				<li class="page-item disabled"><a class="page-link">First</a></li>
				<% } else { %>
				<li class="page-item"><button class="page-link" name="page" value="1">First</button></li>
				<% } %>

				<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
				<% if (i !== 1) { %>
				<li class="page-item disabled"><a class="page-link">...</a></li>
				<% } %>

				<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
				<% if (i == current) { %>
			  	<li class="page-item active"><a class="page-link"><%= i %></a></li>
				<% } else { %>
				  <li class="page-item"><button class="page-link" name="page" value="<%= i %>"><%= i %></button></li>
				<% } %>
				
				<% if (i == Number(current) + 4 && i < pages) { %>
				  <li class="page-item disabled"><a class="page-link">...</a></li>
				<% } %>
			<% } %>

			<% if (current == pages) { %>
				<li class="page-item disabled"><a class="page-link">Last</a></li>
				<% } else { %>
				<li class="page-item"><button class="page-link" name="page" value="<%= pages %>">Last</button></li>
			<% } %>
			</ul>
		</nav>
	</form>
	<% } %>
<% } %>

<!-- ==== CONTENTS ==== -->
<% if(request == "contentsCreated"){ %>
	<!-- ========Contents Created======== -->
	<div style="text-align: center; padding-bottom: 15px; font: 20px/25px monospace;">Contents you shared</div>
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
	    <% myContents.forEach(function(content){ %>
	        <div class="col-md-3 col-sm-6" id="profile-content-thumbnail">
	            <div class="thumbnail">
	          	<% if(content.video){ %>
		            <div>
	            	<% if(content.video.provider == 'youtube'){ %>
	                  <div>
	                    <iframe width="180" height="100" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
	                  </div>
	                <% } else if(content.video.provider == 'twitch'){ %>
	                  <div>
	                    <iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="180" height="100"></iframe>
	                  </div>
	                <% } %>
		            </div>
	      		<% } %>
	               	<div class="caption">
	               		<a style="font-size: 20px;" href="/contents/<%=content._id %>"><%=content.name %></a>
	               	</div>
	            </div>
	        </div>
	    <% }); %>
	</div>
	<div><%= noContents %></div>

  	<!-- ========Pagination======== -->

	<% if (pages > 0) { %>
	<form action="/contents<%=url%>" method="GET" class="form-group">
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
			<% if (current == 1) { %>
				<li class="page-item disabled"><a class="page-link">First</a></li>
				<% } else { %>
				<li class="page-item"><button class="page-link" name="page" value="1">First</button></li>
				<% } %>

				<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
				<% if (i !== 1) { %>
				<li class="page-item disabled"><a class="page-link">...</a></li>
				<% } %>

				<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
				<% if (i == current) { %>
			  	<li class="page-item active"><a class="page-link"><%= i %></a></li>
				<% } else { %>
				  <li class="page-item"><button class="page-link" name="page" value="<%= i %>"><%= i %></button></li>
				<% } %>
				
				<% if (i == Number(current) + 4 && i < pages) { %>
				  <li class="page-item disabled"><a class="page-link">...</a></li>
				<% } %>
			<% } %>

			<% if (current == pages) { %>
				<li class="page-item disabled"><a class="page-link">Last</a></li>
				<% } else { %>
				<li class="page-item"><button class="page-link" name="page" value="<%= pages %>">Last</button></li>
			<% } %>
			</ul>
		</nav>
	</form>
	<% } %>
<% } %>

<% include partials/footer %>