<% include partials/header %>
<header class="jumbotron">
  <div class="container">
    <div>
      <img id="line" style="border-radius: 5px;" src= "<%= olouser.thumbnail %>"/>

      <!-- ========Follow Button======== -->
      <% if(olouser._id != user.id) { %>
        <form style="padding-left: 10px; font: 15px monospace;" id="line" action="/profile/<%=olouser._id%>" method="POST">                    
          <%if (user.following.indexOf(olouser._id) != -1) { %>
            <button class="btn btn-default btn-sm">Unfollow</button> 
          <% } else { %>
            <button class="btn btn-default btn-sm">Follow
            </button>
          <% } %>
        </form>
      <% } %>
    </div>
    <div>
      <div style="font: 20px monospace; padding-top: 15px;">This is the wall of <%=olouser.username%>
      </div>
    </div>
    <div style="padding-top: 15px;">
      <div style="padding-bottom: 10px;">
        <div id=line style="font: 20px monospace">Number of followers: </div> 
        <div id=line><%= olouser.follower %></div>
      </div>
      <div style="padding-bottom: 10px;">
        <div id=line style="font: 20px monospace">e-mail:</div>
        <div id=line><%= olouser.email %></div>
      </div>
    </div>
    <form class="form-group">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/profile/<%=olouser._id%>" style="font: 20px monospace;">
            <img style="padding-right: 10px;" width="40" height="30" src="/icons/icons8-check-all-60.png"/>Overview
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link active" href="/profile/<%=olouser._id%>/likes" style="font: 20px monospace;">
            <img style="padding-right: 10px;" width="40" height="30" src="/icons/icons8-good-quality-60.png">Likes
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link active" href="/profile/<%=olouser._id%>/contents" style="font: 20px monospace;">
            <img style="padding-right: 10px;" width="40" height="30" src="/icons/icons8-gallery-60.png">Posts
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link active" href="/profile/<%=olouser._id%>/followers" style="font: 20px monospace;">
            <img style="padding-right: 10px;" width="40" height="30" src="/icons/icons8-checked-user-male-48.png">Followers
          </a>
        </li>
      </ul>
    </form>
  </div>  
</header>

<!-- ==== OVERVIEW ===== -->
<% if(request == "overview"){ %>

  <!-- ========Content Liked======== -->
  <div style="text-align: center; padding-bottom: 10px; font: 20px/25px monospace;"><%=olouser.username%> liked</div>
  <div id="profile"></div>
  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% contents.forEach(function(content){ %>
          <div class="col-md-3 col-sm-6" id="profile-content-thumbnail">
              <div class="thumbnail">
                <% if(content.video){ %>
                <div>
                <% if(content.video.provider == 'youtube'){ %>
                      <div>
                        <iframe width="180" height="100" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <% } else if(content.video.provider == 'twitch'){ %>
                      <div>
                        <iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="180" height="100"></iframe>
                      </div>
                    <% } %>
                </div>
              <% } %>
                  <div class="caption">
                    <a style="font-size: 20px;" href="/contents/<%=content._id %>"><%=content.name %></a>
                  </div>
                  <div style="padding-top: 8px;">
                      <a class="noSelect" href="/profile/<%= content.author.id %>">
                      <img style="display: inline-block;  border-radius: 50%;" src= "<%= content.author.thumbnail %>" width= "28px" height= "28px" />
                      <%= content.author.username%> 
                    </a>
                  </div>
              </div>
          </div>
      <% }); %>
  </div>
  <div style="font: 18px monospace; text-align: center; padding-bottom: 15px;"><%= noLikes %>
  </div>

  <% if (moreLikes == 1) {%>
  <div style="text-align: center; font: 15px monospace;">
    <a class="btn btn-default" id="btn-default" href="/profile/likes" role="button">More</a>
  </div>
  <% } %>

  <hr>

  <!-- ========Contents Created======== -->
  <div style="text-align: center; padding-bottom: 15px; font: 20px/25px monospace;"><%=olouser.username%> shared</div>
  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% myContents.forEach(function(content){ %>
          <div class="col-md-3 col-sm-6">
              <div class="thumbnail" id="profile-content-thumbnail">
              <% if(content.video){ %>
                <div>
                <% if(content.video.provider == 'youtube'){ %>
                    <div>
                      <iframe width="180" height="100" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
                    </div>
                  <% } else if(content.video.provider == 'twitch'){ %>
                    <div>
                      <iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="180" height="100"></iframe>
                    </div>
                  <% } %>
                </div>
              <% } %>
                  <div class="caption">
                    <a style="font-size: 20px;" href="/contents/<%=content._id %>"><%=content.name %></a>
                  </div>
                  <div style="padding-top: 8px;">
                    <a class="noSelect" href="/profile/<%= content.author.id %>">
                      <img style="display: inline-block;  border-radius: 50%;" src= "<%= content.author.thumbnail %>" width= "28px" height= "28px" />
                      <%= content.author.username%> 
                    </a>
                  </div>
              </div>
          </div>
      <% }); %>
  </div>
  <div style="font: 18px monospace; text-align: center; padding-bottom: 15px;"><%= noContents %>
  </div>
  
  <% if (moreContents == 1) {%>
  <div style="text-align: center; font: 15px monospace;">
    <a class="btn btn-default" id="btn-default" href="/profile/contents" role="button">More</a>
  </div>
  <% } %>
  <hr>
<% } %>

<!-- ==== LIKES ==== -->
<% if(request == "contentsLiked"){ %>
  <!-- ========Content Liked======== -->
  <div style="text-align: center; padding-bottom: 10px; font: 20px/25px monospace;">Contents you liked</div>
  <div id="profile"></div>
  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% contents.forEach(function(content){ %>
          <div class="col-md-4 col-sm-6" id="profile-content-thumbnail">
          <!-- <div class="col-md-3 col-sm-6"> -->
              <div class="thumbnail">
              <% if(content.video){ %>
                <div>
                <% if(content.video.provider == 'youtube'){ %>
                    <div>
                      <iframe width="180" height="100" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
                    </div>
                  <% } else if(content.video.provider == 'twitch'){ %>
                <div>
                  <iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="180" height="100"></iframe>
                </div>
                  <% } %>
                </div>
              <% } %>
                <div class="caption">
                  <a style="font-size: 20px;" href="/contents/<%=content._id %>"><%=content.name %></a>
                </div>
                <div style="padding-top: 8px;">
                  <a class="noSelect" href="/profile/<%= content.author.id %>">
                    <img style="display: inline-block;  border-radius: 50%;" src= "<%= content.author.thumbnail %>" width= "28px" height= "28px" />
                    <%= content.author.username%> 
                  </a>
                </div>
              </div>
          </div>
      <% }); %>
  </div>
  
  <div style="font: 18px monospace; text-align: center; padding-bottom: 15px;"><%= noLikes %>
  </div>

    <!-- ========Pagination======== -->

  <% if (pages > 0) { %>
  <form action="/contents<%=url%>" method="GET" class="form-group">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
      <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
        <li class="page-item"><button class="page-link" name="page" value="1">First</button></li>
        <% } %>

        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>

        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
          <li class="page-item"><button class="page-link" name="page" value="<%= i %>"><%= i %></button></li>
        <% } %>
        
        <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
      <% } %>

      <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% } else { %>
        <li class="page-item"><button class="page-link" name="page" value="<%= pages %>">Last</button></li>
      <% } %>
      </ul>
    </nav>
  </form>
  <% } %>
<% } %>

<!-- ==== CONTENTS ==== -->
<% if(request == "contentsCreated"){ %>
  <!-- ========Contents Created======== -->
  <div style="text-align: center; padding-bottom: 15px; font: 20px/25px monospace;">Contents you shared</div>
  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% myContents.forEach(function(content){ %>
          <div class="col-md-3 col-sm-6" id="profile-content-thumbnail">
              <div class="thumbnail">
              <% if(content.video){ %>
                <div>
                <% if(content.video.provider == 'youtube'){ %>
                    <div>
                      <iframe width="180" height="100" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
                    </div>
                  <% } else if(content.video.provider == 'twitch'){ %>
                    <div>
                      <iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="180" height="100"></iframe>
                    </div>
                  <% } %>
                </div>
              <% } %>
                <div class="caption">
                  <a style="font-size: 20px;" href="/contents/<%=content._id %>"><%=content.name %></a>
                </div>
                <div style="padding-top: 8px;">
                  <a class="noSelect" href="/profile/<%= content.author.id %>">
                    <img style="display: inline-block;  border-radius: 50%;" src= "<%= content.author.thumbnail %>" width= "28px" height= "28px" />
                    <%= content.author.username%> 
                  </a>
                </div>
              </div>
          </div>
      <% }); %>
  </div>
  <div style="font: 18px monospace; text-align: center; padding-bottom: 15px;"><%= noContents %>
  </div>

  <!-- ========Pagination======== -->

  <% if (pages > 0) { %>
  <form action="/contents<%=url%>" method="GET" class="form-group">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
      <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
        <li class="page-item"><button class="page-link" name="page" value="1">First</button></li>
        <% } %>

        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>

        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
          <li class="page-item"><button class="page-link" name="page" value="<%= i %>"><%= i %></button></li>
        <% } %>
        
        <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
      <% } %>

      <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% } else { %>
        <li class="page-item"><button class="page-link" name="page" value="<%= pages %>">Last</button></li>
      <% } %>
      </ul>
    </nav>
  </form>
  <% } %>
<% } %>

<!-- ==== FOLLOWERS ==== -->
<% if(request == "followers"){ %>
    <% myFollowers.forEach(function(follower){ %>
    <div class="row text-center" style="padding-left: 50px;">
      <div style="padding-top: 8px;">
        <a class="noSelect" href="/profile/<%= follower.id %>">
          <div id="line">
            <img style="display: inline-block;  border-radius: 50%;" src= "<%= follower.thumbnail %>" width= "80px" height= "80px" />
          </div>
          <div style="font-size: 30px;" id="line">
            <%= follower.username%>
          </div> 
          <div style="font: 15px monospace;" id="line">
            Number of followers: <%= follower.follower%>
          </div>
          <div style="font: 15px monospace;" id="line">
            <%= follower.lastActiveTime%>
          </div>    
        </a>
      </div>
    </div>
    <% }); %>
  
  <div style="font: 18px monospace; text-align: center; padding-bottom: 15px;"><%= noFollowers %>
  </div>


  <!-- ========Pagination======== -->

  <% if (pages > 0) { %>
  <form action="/contents<%=url%>" method="GET" class="form-group">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
      <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
        <li class="page-item"><button class="page-link" name="page" value="1">First</button></li>
        <% } %>

        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>

        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
          <li class="page-item"><button class="page-link" name="page" value="<%= i %>"><%= i %></button></li>
        <% } %>
        
        <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
      <% } %>

      <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% } else { %>
        <li class="page-item"><button class="page-link" name="page" value="<%= pages %>">Last</button></li>
      <% } %>
      </ul>
    </nav>
  </form>
  <% } %>
<% } %>


<% include partials/footer %>