<% include partials/header %>
<header class="jumbotron">
  <div class="container">
    <div>
      <img id="line" style="border-radius: 5px;" src= "<%= olouser.thumbnail %>"/>

      <% if(olouser._id != user.id) { %>
        <form style="padding-left: 10px; font: 15px monospace;" id="line" action="/profile/<%=olouser._id%>" method="POST">                    
          <%if (user.following.indexOf(olouser._id) != -1) { %>
            <button class="btn btn-default btn-sm">Unfollow</button> 
          <% } else { %>
            <button class="btn btn-default btn-sm">Follow
            </button>
          <% } %>
        </form>
      <% } %>
    </div>
    <div>
      <div style="font: 20px monospace; padding-top: 15px;">This is the wall of <%=olouser.username%>
      </div>
    </div>
    <div style="padding-top: 15px;">
      <div style="padding-bottom: 10px;">
        <div id=line style="font: 20px monospace">Number of followers: </div> 
        <div id=line><%= olouser.follower %></div>
      </div>
      <div style="padding-bottom: 10px;">
        <div id=line style="font: 20px monospace">e-mail:</div>
        <div id=line><%= olouser.email %></div>
      </div>
    </div>

    <!-- ========Follow Button======== -->


 
  </div>  
</header>

<!-- ===================================
  ====================================== -->
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<% contents.forEach(function(content){ %>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
  	<% if(content.video){ %>
      <div>
    	<% if(content.video.provider == 'youtube'){ %>
          <div>
            <iframe width="180" height="100" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
          </div>
        <% } else if(content.video.provider == 'twitch'){ %>
          <div>
            <iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="180" height="100"></iframe>
          </div>
        <% } %>
      </div>
    <% } %>
     	<div class="caption">
          <a href="/contents/<%=content._id %>" class="btn btn-outline-secondary"><h4><%=content.name %></h4></a>
      </div>
    </div>
  </div>
<% }); %>
</div>

<!-- ========Contents Created======== -->
<div>Contents you shared</div>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<% myContents.forEach(function(content){ %>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
  	<% if(content.video){ %>
      <div>
  	<% if(content.video.provider == 'youtube'){ %>
        	<div>
          	<iframe width="180" height="100" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
        	</div>
      <% } else if(content.video.provider == 'twitch'){ %>
        	<div>
          	<iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="180" height="100"></iframe>
        	</div>
      <% } %>
      </div>
<% } %>
     	<div class="caption">
        <a href="/contents/<%=content._id %>" class="btn btn-outline-secondary"><h4><%=content.name %></h4></a>
      </div>
    </div>
  </div>
<% }); %>
</div>

<div><%= noContents %></div>



<% include partials/footer %>