<% include ../partials/header %> 

<div id="content-index-card"> 
    <div class="contents">
      <%if(noMatch!== null) {%>    
      <h3><img src="/icons/search.png" /><%= noMatch %></h3>    
      <% } %>
    </div>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% contents.forEach(function(content){ %>
      <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
          <% if(content.video){ %>
            <div class="content-thumbnail">
            <% if(content.video.provider == 'youtube'){ %>
              <div>
                <iframe width="180" height="90" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
              </div>
            <% } else if(content.video.provider == 'twitch'){ %>
              <div>
                <iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="180" height="90"></iframe>
              </div>
            <% } %>
            </div>
            <% } else if(content.image) { %>
              <div class="content-thumbnail">
              <img style="max-width: 200px; max-height: 90px;" src="<%= content.image%>">
              </div>
          <% } %>
            <div class="caption">
              <h4><%= content.name %></h4>
            </div>
             <p>
                 <a href="/contents/<%= content._id %>" class="btn btn-primary">More Info</a>
             </p>
          </div>
      </div>
    <% }); %>
    </div>
</div>


<% include ../partials/footer %>