  <% if (typeof comments != 'undefined' && comments != null) { %>
    <% comments.forEach( function ( commentData ){ %>
      <div id="<%=commentData._id%>ExComments">
        <div id="<%=commentData._id%>ExCommentChild">
          <div class="line">
            <a href="/profile/<%=commentData.author.id%>">
              <div class="line">
                <img src="<%= commentData.author.thumbnail %>" style="border-radius: 50%; width: 35px; height: 35px;">&nbsp;
              </div>
              <div class="line">
                <%= commentData.author.username %>&nbsp;
              </div>
            </a>
          </div>
          <div class="line" style="color: #7C7F81;">
            <%= moment(commentData.date).fromNow()%>
          </div>
          <div class='line' style="color: #7C7F81; font-size: 10px;">
            <% if(commentData.edited == true){ %>
              edited
            <% } %>
          </div>
          
          <% if(user&& commentData.author.id.equals(user._id)){ %>
            <div class="nav-item dropdown line pull-right">
              <a class="nav-link dropdown-toggle" style="padding-left: 0px;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <img src= "/icons/icons8-menu-vertical-24.png" width= "25px" height= "25px" />&nbsp;
              </a>

              <div class="dropdown-menu dropdown-menu-right" 
              style="
              width: 100px !important; min-width: 100px; max-width: 100px;
              height: 100px !important; min-height: 100px; max-height: 100px;
              ">
                <div align='center'>
                  <button class='nav-link' style="border: none;" onClick="editComment('<%=commentData.id%>', '<%=commentData.comment%>', '<%= moment(commentData.date).fromNow()%>'); return false;">EDIT</button>
                </div>
                <div align='center'>
                  <button class="nav-link" style='border: none;' onClick="deleteComment('<%=commentData.id%>'); return false;">DELETE</button>
                </div>
              </div>
            </div>
          <% } %>
          <!-- \\\\\\\\REPLY COMES HERE///////// -->
          
          <div class="breakWord" style="padding-left: 2.5em;"><%= commentData.comment %>
          </div>

          <!-- REPLY FORM BUTTON --> 
          <div class='replyBox' style="padding-left: 2.5em; padding-top: 5px;">
            <button type="button" class='replyBtn noOutline btn btn-outline-secondary btn-sm' onclick="showReplyForm('<%=commentData.id%>Reply'); return false;">REPLY</button>
          </div>
          <!-- BUTTONS TO HIDE AND VIEW REPLY WHEN THEY ARE LOADED -->
          <div id="<%=commentData.id%>RepliesViewReplyButton" style='display: none; padding-left: 3em; font-size: 15px; padding-top: 8px; padding-bottom: 8px;'>
            <a onclick="viewReply('<%=commentData.id%>');">
              <% if(commentData.replies.length == 1) { %>
                View Reply
              <% } else { %>
                View <%= commentData.replies.length %> replies
              <% } %>
            </a>
          </div>
          <div id="<%=commentData.id%>RepliesHideReplyButton" style='display: none; padding-left: 3em; font-size: 15px; padding-top: 8px; padding-bottom: 8px;'>
            <a onclick="hideReply('<%=commentData.id%>');">Hide reply</a>
          </div>

          <!-- WHERE REPLY WILL BE ADDED WHEN FETCHED -->
          <div id="<%=commentData.id%>Replies" style="padding-left: 3em;">
            <div id="<%=commentData.id%>NewReplies">
            </div>
          </div>
          
          <div style="padding-top: 8px;">
            <% if(commentData.replies.length > 0){ %>
              <a style="padding-left: 3em; font-size: 15px;"
                onclick="loadMoreReply('<%=commentData.id%>', 1); this.parentNode.style.display = 'none'; return false;">
                <% if(commentData.replies.length == 1) { %>
                  View Reply
                <% } else { %>
                  View <%= commentData.replies.length %> replies
                <% } %>
              </a>
            <% } %>
          </div>

          <!-- REPLY FORM COMES HERE -->
          <div class='replyForm' style="padding-left: 3em; padding-top: 8px;">
            <span style='display: none;' id="<%=commentData.id%>Reply">
              <input type="hidden" id="commentId" value="<%= commentData.id %>">
              <div class='line'>
                <img src="<%= user.thumbnail %>" style="border-radius: 50%; width: 25px; height: 25px;">&nbsp;
              </div>

              <textarea class="commentReplyTextarea" id='<%=commentData.id%>ReplyTextarea' placeholder='Add a public reply...'></textarea>

              <div align='right'>
                <button type='button' onclick="hideReplyForm('<%=commentData.id%>Reply'); return false;" class='replyCancel noOutline btn btn-outline-secondary'>CANCEL</button>
                <button type='button' onclick="replySubmit('<%=commentData.id%>'); return false;" class='btn btn-outline-dark' id="<%= commentData.id%>">REPLY</button>
              </div>
            </span>
          </div>
        </div>
      </div>
    <% }); %>
  <% } %>
