<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="youtube, twitch, videos, creators, bj, 인방, 유튜브, 트위치, 동영상">
        <meta name="author" content="John Doe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="vQxdg-KLrivGdLJFEDYCmUbW7k8XFKNt51obm2eS-gg" />

        <title>moagram</title>

        <link rel="icon" type="image/png" href="/icons/moa-picture-favicon.png" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/content.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
        
    </head>
    <body>
        <div id='main-nav'>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">
                    <img src="/icons/moa-picture.png" width="30px" height="30px"> Moagram
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
                        <li class="nav-item dropdown d-lg-none">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><h5><strong>MOA</strong></h5></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/ko/contents"><h6><img id="nav-icons" width="42" height="40" src="/icons/new-b.png"> New </h6></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/ko/contents/popular"><h6><img id="nav-icons" width="42" height="40" src="/icons/rising-bar-graph-with-arrow-up.png"> 인기순 </h6>
                                </a>
                                <!-- <div class="dropdown-divider"></div> -->
                                <!-- <a class="dropdown-item" href="/ko/contents/new"><h6> 새로운 포스트 <img id="nav-icons" width="35" height="33" src="/icons/youtube.png"><img id="nav-icons" width="35" height="33" src="/icons/icons8-twitch-48.png"></h6>
                                </a> -->
                            </div>
                        </li>

                        <li class="nav-item dropdown d-none d-lg-block" id="main-nav-item">
                            <a class="nav-link dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" id="btn-default" role="button" aria-haspopup="true" aria-expanded="false">
                                <h5 style="margin-bottom: 0px;">MOA</h5>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/ko/contents"><h5><img id="nav-icons" width="42" height="40" src="/icons/new-b.png"> New</h5></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/ko/contents/popular"><h5 style="margin-bottom: 0px;"><img id="nav-icons" width="42" height="40" src="/icons/rising-bar-graph-with-arrow-up.png"> 인기순 </h5>
                                </a>
                            </div>
                        </li>

                        <li class="nav-item" id="main-nav-item">
                            <a class="btn btn-default btn-sm" id="btn-default" href="/ko/contents/new">
                                <h5 style="margin-bottom: 0px;">새로운 포스트 
                                    <img id="nav-icons" width="35" height="33" src="/icons/youtube.png">
                                    <img id="nav-icons" width="35" height="33" src="/icons/icons8-twitch-48.png">
                                </h5>
                            </a>
                        </li>
                    </ul>

                    <!-- ======== Search bar ======== -->
                    <% if(user){ %>
                        <form style="padding-right: 30px;" class="form-inline nav-item" >
                        
                            <!-- ======== Old Search bar ======== -->
                            <!-- <input id="search-bar" type="text" name="headerSearch" onkeypress="if (event.keyCode == 13) { try{window.location.href='/en/contents/search/'+ document.getElementsByName('headerSearch')[0].value; document.getElementsByName('headerSearch')[0].value=''; return false;}catch(e){} }" placeholder="Search" class="form-control mr-sm-2"> -->

                            <input id="search-bar" type="text" name="search" placeholder="Search" class="form-control mr-sm-2">

                        </form>
                    <% } %>

                    <% if (!user) { %>
                        <div class="nav-item">
                            <a href="/auth/google" class="btn btn-default btn-sm d-lg-none" id="btn-default"><img id="nav-icons" src="/icons/google_logo.png" width="40px" height="33px" />로그인</a>
                            <a href="/auth/google" class="btn btn-default btn-sm d-none d-lg-block" id="btn-default"><img src="/icons/google_logo.png" width="33px" height="33px" /> 구글계정으로 로그인 </a>
                        </div>
                    <% } else { %>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="padding-left: 0px;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <img style="border-radius: 5px;" src= "<%= user.thumbnail %>" width= "45px" height= "45px" />&nbsp;
                                <strong><%= user.username %></strong>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="nav-link" href="/ko/profile"> 
                                    <strong><%= user.username %></strong>
                                </a>
                                <a class="nav-link" href="/ko/profile/setting"> 
                                    <strong>설정</strong>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link" href="/auth/logout"><h6>로그아웃</h6></a>
                            </div>
                        </div>                 
                    <% } %>
                </div>             
            </nav>
        </div>

        <div id="ctg-nav">
          <form action="/ko/contents/category" method="GET" class="form-group">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/ko/contents"><img id="cat-icons" src="/icons/icons8-check-all-60.png"/> All</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link active" href="/ko/contents/category/tntl" name="category"><img height="35" width="35" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link active" href="/ko/contents/category/educational" name="category"><img id="cat-icons" src="/icons/icons8-learning-50.png"> 교육</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link active" href="/ko/contents/category/fitness" name="category"><img id="cat-icons" src="/icons/icons8-squats-60.png"> 운동</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link active" href="/ko/contents/category/motivational" name="category"><img id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ko/contents/category/music" name="category"><img id="cat-icons" src="/icons/icons8-music-library-60.png"/> 뮤직</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link active" href="/ko/contents/category/beauty" name="category"><img id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ko/contents/category/gaming" name="category"><img id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ko/contents/category/vlog" name="category"><img id="cat-icons" src="/icons/icons8-selfie-100.png"/> VLOG | 브이로그</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ko/contents/category/animal" name="category"><img id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ko/contents/category/others" name="category"><img id="cat-icons" src="/icons/icons8-xd-50.png"/>
                    Others</a>
                </li>
            </ul>
          </form>
        </div>

        <!-- ========flash npm======== -->
        <div class="flash-box">
            <% if(error && error.length > 0) { %>
                <div style="text-align: center;" class="alert alert-danger"><p><%=error %></p></div>
            <% } %>

            <% if(success && success.length > 0) { %>
                <div style="text-align: center;" class="alert alert-success"><p><%= success %></p></div>
            <% } %>
        </div>

        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- =====ckeditor====== -->
        <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
        



        
    

    
