<% include ../partials/header %>
    <div class="container">
        <h1 style="text-align: center">Edit <%= content.name %></h1>
        <div style="width: 60%; margin: 25px auto;">
            <form action="/contents/<%=content._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" value="<%= content.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" value="<%= content.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="video" value="<%= content.video %>">
                </div>

                <div class="form-group">
                    <label for="ctg">Select a category of your video</label>
                    <select class="form-control" id="ctg" name="category">
                        <optgroup label="Catergory of your video">
                            <option value="education">education</option>
                            <option value="fitness">fitness</option>
                            <option value="motivation">motivation</option>
                            <option value="gaming">gaming</option>
                            <option value="music">music</option>
                            <option value="beauty">beauty</option>
                            <option value="other">other</option>
                        </optgroup>
                    </select>                   

                </div>
                                
                <div class="form-group">
                    <textarea id="editor" type="text" name="description" value="<%= content.description %>"></textarea>
                </div>

                <script>
                  CKEDITOR.replace( 'editor');
                </script>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
            </form>
            <a href="/contents">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>

