<% include ../partials/header %> 
<div class="content-box" >
  <div id="content-index"> 
    
  <!-- ============infinit scroll implementation=============== -->
  <!-- <script>

    $(window).scroll(function() { 
      if($(window).scrollTop() == $(document).height() - $(window).height()){
        ++page; 
        getReadList(); } 
      }); 

  </script> -->

  <%if(noMatch!== null) {%>
    <div class="contents">
      <h3><img src="/icons/search.png" /><%= noMatch %></h3>    
    </div>
  <% } %>

  <% contents.forEach(function(content){ %>
    <% if(content.video){ %>
    <div class="contents row">
      <div class="col-md-6" style="padding-left: 0px; padding-right: 0px">
        <!-- ==============Index-like-button=============== -->
        <div class="row">
          <div class="content-hotness col-sm-3" style="padding-right: 0px;">
            <form action="/contents/<%=content._id%>" method="POST">  
              <%if (user.contentLiked.indexOf(content._id) != -1) { %>
              <button style="border: none; background-color: transparent;"><img src="/icons/unlike.png"/>
              </button>
              <% } else { %>
              <button style="border: none; background-color: transparent;"><img src="/icons/like.png"/>
              </button>
              <% } %>
            </form>
          </div>

          <!-- ==============thumnail=============== -->
          <div class="content-thumbnail col-sm-9">
          <% if(content.video.provider == 'youtube'){ %>
            
              <iframe width="230" height="135" src="//www.youtube.com/embed/<%= content.video.id %>" frameborder="0" allowfullscreen></iframe>
            
          <% } else if(content.video.provider == 'twitch'){ %>
            
              <iframe src="https://player.twitch.tv/?autoplay=false&video=<%= content.video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="230" height="135"></iframe>
            
          <% } %>
         
          <% } else if(content.image) { %>
            
              <img width="230" height="135" src="<%= content.image%>">
            
          <% } %>
          </div>
        </div>
      </div>
    <!-- ==============Title=============== -->
      <div class="col-md-6" style="padding-left: 3px; padding-right: 3px;">
        <div class="content-title .col-xs-4 .col-sm-4">
          <a href="/contents/<%= content._id %>">
            <p><strong><%= content.name %></strong></p>
          </a>
        </div>
      <!-- ==============Infoline=============== -->
        <div class="content-infoline .col-xs-8 .col-sm-8">
          <!-- Momentjs Ago --> 
          <div>
            Posted by &nbsp;   
            <strong>
              <a class="noSelect" href="/profile/<%= content.author.id %>">
                <img style="display: inline-block;  border-radius: 50%;" src= "<%= content.author.thumbnail %>" width= "28px" height= "28px" />
                <%= content.author.username%> 
              </a>
            </strong>
          </div>
          <div id="verticalLine" style="font-size: 15px;"><img style="width: 33px; height: 33px;" src="/icons/like.png"/>
            <% if(content.likes > 1000) { %>
            <bold> <%= Math.floor(content.likes/1000) %>K</bold> 
            <% } else { %>
            <bold> <%= content.likes %></bold>
            <% } %>
          </div>
          <div id="verticalLine">
            <% if(content.views > 1000) { %>
            views <%= Math.floor(content.views/1000) %>K 
            <% } else { %>
            views <%= content.views %> 
            <% } %>
            | 
            <%= moment(content.date).fromNow()%>
          </div>
          <!-- DISQUS Comments Count -->
          <span id="verticalLine" class="disqus-comment-count" data-disqus-identifier="<%= content._id %>"></span>
        </div>
      </div>
    </div>
    <% }); %>

    <div class="content-ad"> 
      <div class="content-ad-partition">
        <div class="content-hot-sidebar">
          <!-- ======== side contents form ========= -->
          <form action="/contents" method="GET" class="form-group">
            <div class="list-group" style="max-width: 260px;">
              <h5 style="text-align: center; border-bottom: 1px solid #DADADA; margin-bottom: 3px;"><img style="width: 20px; height: 20px;" src="/icons/icons8-p-52.png"/>OPULAR <img style="width: 20px; height: 20px;" src="/icons/icons8-p-52.png"/>OSTS</h5>
              <li class="list-group-item" id="content-show-rec-list">
                <% var rank = 1; %>
          <!-- =========== Side Contents for loop =========== -->
                <% for (var i = 0, len = sideContents.length; i < len; i++) { %>
                <div class="contents-rec">
                  <div class="content-sidebar-info" style="margin-bottom: 0px;">
                    <% if(sideContents[i].video){ %>
                      <div class="content-sidebar-thumbnail">
                      <% if(sideContents[i].video.provider == 'youtube'){ %>
                        <div>
                          <iframe width="260" height="125" src="//www.youtube.com/embed/<%= sideContents[i].video.id %>" frameborder="0" allowfullscreen></iframe>
                        </div>
                      <% } else if(sideContents[i].video.provider == 'twitch'){ %>
                        <div>
                          <iframe src="https://player.twitch.tv/?autoplay=false&video=<%= sideContents[i].video.id%>" frameborder="0" allowfullscreen="true" scrolling="no" width="260" height="125"></iframe>
                        </div>
                      <% } %>
                      </div>
                    <% } else if(sideContents[i].image) { %>
                      <div class="content-sidebar-thumbnail">
                        <img width="260" height="125" src="<%= sideContents[i].image%>">
                      </div>
                    <% } %>

                    <div class="content-sidebar-title">
                      <div>
                        <a href="/contents/<%= sideContents[i]._id %>">
                          <!-- ====used to show rank of the popular===== -->
                          <%rank += 1%>
                          <p><strong><%=sideContents[i].name %></strong></p>
                        </a>
                      </div>
                      <div>
                        <a href="/profile/<%= sideContents[i].author.id %>">
                          <img style="display: inline-block;  border-radius: 50%;" src= "<%= sideContents[i].author.thumbnail %>" width= "30px" height= "30px" />

                          <strong><%= sideContents[i].author.username %></strong>
                        </a>
                      </div>
                    </div>
                    <div class="content-sidebar-infoline" style="font-size: 13px;">
                      <!-- Momentjs Ago --> 
                      <div id="show-sidebar-vertical-group">
                        <div id="verticalLine">
                          <% if([i].views > 1000) { %>
                          views <%= Math.floor(sideContents[i].views/1000) %>K 
                          <% } else { %>
                          views <%= sideContents[i].views %> 
                          <% } %>
                        </div>
                        <div id="verticalLine">
                        <%= moment(sideContents[i].date).fromNow()%>
                        </div>
                        <div id="verticalLine">
                          <!-- DISQUS Comments Count -->
                          <span class="disqus-comment-count" data-disqus-identifier="<%= sideContents[i]._id %>"></span>
                        </div>
                      </div>
                    </div>     
                  </div>          
                </div>
                <% }; %>
              </li>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- ========Pagination======== -->

  <% if (pages > 0) { %>
  <form style="padding-bottom: 20px;" action="/contents<%=url%>" method="GET" class="form-group">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">

      <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">First</a></li>
      <% } else { %>
        <li class="page-item"><button class="page-link" name="page" value="1">First</button></li>
      <% } %>
      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
      <% if (i !== 1) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
      <% } %>

      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
          <li class="page-item"><button class="page-link" name="page" value="<%= i %>"><%= i %></button></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
      <% } %>

      <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">Last</a></li>
      <% } else { %>
        <li class="page-item"><button class="page-link" name="page" value="<%= pages %>">Last</button></li>
      <% } %>
      </ul>
    </nav>
  </form>
  <% } %>
</div>

<% include ../partials/footer %>