<% include ../partials/header %>
    <div class="container">
        <h2 style="text-align: center"><%= content.name %> 를 수정합니다</h2>
        <div class="inputForm">
            <form action="/ko/contents/<%=content._id%>?_method=PUT" method="POST">
                <label for="contentName"><strong>제목</strong></label>
                <div id="contentName" class="form-group">
                    <input class="form-control" type="text" name="name" value="<%= content.name %>">
                </div>
                <label for="contentImage"><strong>이미지 URL</strong></label>
                <div id="contentImage" class="form-group">
                    <input class="form-control" type="text" name="image" value="<%= content.image %>">
                </div>
                <label for="contentVideo"><strong>영상 URL</strong></label>
                <div id="contentVideo" class="form-group">
                    <input class="form-control" type="text" name="video" value="<%= content.video.url %>">
                </div>

                <div>
                    <label><strong>이 글의 카테고리를 선택해주세요</strong></label>
                </div>

                <div data-toggle="buttons">
                    <% if(content.category == "tntl"){ %>
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "mukbang"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "news"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "documentary"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "educational"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "fitness"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "motivational"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "music"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "beauty"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "gaming"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "vlog"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "animal"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else if(content.category == "others"){ %>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } else { %>
                        <label class="btn btn-secondary active">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="tntl" checked> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lol-64.png"> 웃긴영상 | TNTL
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="mukbang"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-noodles-48.png"> 먹방
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="news"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-about-64.png"> News
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="documentary"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-documentary-64.png"> 다큐
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="educational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-learning-50.png"> 교육
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="fitness"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-squats-60.png"> 운동
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="motivational"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-syringe-60.png"> 동기부여
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="music"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-music-library-60.png"/> 음악
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="beauty"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-lipstick-60.png"> 뷰티 | Beauty
                        </label>
                    
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="gaming"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-accuracy-60.png"/> 게임
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="vlog"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-selfie-100.png"/> 브이로그 | VLOG
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="animal"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-pig-100.png"/> 동물
                        </label>
            
                        <label class="btn btn-secondary">
                            <input type="radio" name="category" id="ctg" autocomplete="off" value="others"> 
                            <img height="25" width="25" id="cat-icons" src="/icons/icons8-xd-50.png"/> Others
                        </label>
                    <% } %>                    
                </div>     
                <div>
                    <label><strong>이 글에 대해 적어주세요</strong></label>
                </div>
                <div class="form-group">
                    <textarea id="editor" type="text" name="description">
                        <%= content.description %>
                    </textarea>
                </div>

                <script>
                    CKEDITOR.replace( 'editor');
                    var description = contentDescription;
                    CKEDITOR.instances.editor.setData(content.description);
                </script>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">수정하기</button>
                </div>
            </form>
            <div class="text-right">
                <a href="/ko/contents" class="btn btn-default btn-sm" id="btn-default">뒤로가기</a>
            </div>
        </div>
    </div>
<% include ../partials/footer %>

